@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #F2F2F2;
    color: #000000;
}

.button {
    color: #FFFFFF;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

/* page-header */
.page-header {
    display: flex;
    padding: 0 70px;
    background-color: #FFFFFF;
}

.page-navigation {
    width: 620px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
}

.user-menu-list {
    margin: 0;
    padding: 0;
    margin-left: auto;
    max-width: 300px;
    list-style: none;
}

.user-menu-link {
    color: inherit;
    text-decoration: none;
}

.user-menu-button {
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
}

.main-container {
    flex-grow: 1;
}

.main-index {
    background-color: #FFFFFF;
}

/* welcome */
.welcome {
    background-color: #787d80;
    background-image: url(../Images/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.logo {
    display: block;
    margin: 0 auto;
}

/* advantages */
.advantages {
    text-align: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-item {
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list .advantages-item-blue {
    width: 100%;
    background-color: #82B3D3;
    color: #FFFFFF;
}

.advantages-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-text {
    color: #333333;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-description-gray {
    color: #333333;
}

.advantages-item:nth-child(3) {
    background-color: rgba(131, 179, 211, 0.2);
}

/* service */
.service {
    text-align: center;
}

.service-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.service-text {
    color: #333333;
}

.service-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.service-item {
    width: 400px;
}

.service-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.service-description {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.service-item:nth-child(1),
.service-item:nth-child(3) {
    background-color: rgba(131, 179, 211, 0.12);
}

/* hotel-search */
.hotel-search {
    text-align: center;
}

.hotel-search-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.hotel-search-description {
    color: #333333;
}

.button-search-hotel {
    background-color: #756157;
    font-size: 20px;
    line-height: 36px;
}

/* newsletter-index */
.newsletter-index {
    background-color: #787d80;
    background-image: url(../Images/background-subscribe.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFFFFF;
    text-align: center;
}

.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-button {
    background-color: #82B3D3;
    font-size: 20px;
    line-height: 36px;
}

/* footer */
.page-footer {
    display: flex;
    margin: 0;
    padding: 0 70px;
}

.footer-contacts {
    width: 720px;
    margin: 0 auto;
}

.footer-social-list {
    margin: 0;
    padding: 0;
    width: 142px;
    list-style: none;
}

.footer-contacts-phone {
    font-family: normal;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

/* Catalog */

.main-inner {
    background-color: #FFFFFF;
}

/* header-inner */
.header-inner {
    background-image: url(../Images/background-catalog.jpeg);
    background-color: #787d80;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #FFFFFF;
    font-size: 18px;
}

.header-inner-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    color: inherit;
    text-decoration: none;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.control {
    line-height: 23px;
}

.button-apply {
    background-color: #82B3D3;
}

.button-reset {
    background-color: transparent;
}

/* search-result */
.search-result-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.hotel-card {
    font-size: 18px;
    line-height: 21px;
}

.hotel-card-link {
    color: inherit;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.hotel-card p {
    color: #333333;
}

.hotel-card-price {
    text-align: right;
}

.button-detail {
    background-color: #756157;
}

.button-select {
    background-color: #82B3D3;
}

.hotel-card .button-select-current {
    background-color: #7DB54F;
}

.hotel-card-stars {
    background-image: url(../Images/icons/star-icon.svg);
    background-repeat: no-repeat;
}

.hotel-card-rating {
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* pagination */
.pagination-link {
    background-color: #82B3D3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-item .pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

.pagination-item .pagination-show-more {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

/* newsletter-catalog */
.newsletter-catalog {
    color: #000000;
}

.newsletter-catalog p {
    color: #333333;
}
